.recipe {
  width: 50%;
  padding: 15px;
  text-decoration: none;
  animation: appear 1s ease;
}
@media screen and (max-width: 768px) {
  .recipe {
    width: 100%;
  }
}
.recipe:hover .recipe__content {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.4s ease-in-out;
}
.recipe__content {
  transition: box-shadow 0.4s ease-in-out;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  display: flex;
}
.recipe__link {
  text-decoration: none;
  position: relative;
  overflow: hidden;
  padding: 25px;
  width: 100%;
  background-color: transparent;
  border-radius: 5px;
  display: flex;
}

.recipe__link:hover .recipe__title {
  color: #c9a039;
}
.recipe__img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.recipe__text {
  margin-left: 30px;
}
@media screen and (max-width: 420px) {
  .recipe__link {
    flex-direction: column;
    align-items: center;
  }
  .recipe__text {
    margin-left: 0;
  }
  .recipe__img {
    margin-bottom: 10px;
  }
}
.recipe__title {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.8rem;
  padding-bottom: 10px;
  display: block;
  color: #b4a682;
  transition: color 0.2s ease-in-out;
}

.recipe__ingredients {
  color: #41434d;
}
.recipe__ingredients span {
  font-size: 1.2rem;
  display: block;
  color: #9ea0ac;
}
.recipe__save {
  height: 50px;
  padding: 10px;
  background: rgba(85, 60, 37, 0.05);
  position: absolute;
  z-index: 100;
  top: 0px;
  width: 50px;
  right: -50px;
  transition: transform 0.4s ease-in-out, background 0.2s ease-in-out;
  border-radius: 0 5px 0 0;
  cursor: pointer;
}
.recipe__save:hover {
  background: rgba(85, 60, 37, 0);
}
.recipe__save:hover .recipe__save-icon {
  background-color: #cf8b77;
  transition: background-color 0.4s ease-in-out;
}

.recipe:hover .recipe__save {
  transform: translateX(-50px);
}

.recipe__save-icon {
  transition: background-color 0.3s ease-in-out;
  width: 30px;
  height: 30px;
  background-color: rgb(231, 182, 136);
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  line-height: 26px;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
  transition: color 0.35s, border 0.35s;
}

.recipe__remove {
  height: 50px;
  padding: 10px;
  position: absolute;
  z-index: 100000;
  top: 0px;
  width: 50px;
  right: 0px;
  cursor: pointer;
}
.recipe__remove:hover .recipe__remove-icon {
  background-color: #b36953;
}

.recipe__remove-icon {
  transition: background-color 0.3s ease-in-out;
  width: 30px;
  height: 30px;
  background-color: #cf8b77;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  font-size: 1.9rem;
  border-radius: 50%;
}

@keyframes appear {
  0% {
    opacity: 0;
    top: 35px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
