.form {
  padding: 10px 20px;
  display: flex;
}

.form__input-container {
  display: inline-block;
}

@media screen and (max-width: 900px) {
  .form__input-container {
    display: block;
    padding: 5px;
  }
}

.form__input {
  padding: 5px 15px;
  font-weight: 700;
  border: none;
  border-bottom: 1px solid #cfd0d6;
  margin: 0 15px;
  font-size: 1.5rem;
  color: #e7b688;
}
@media screen and (max-width: 600px) {
  .form__input {
    display: block;
    margin: 0;
    width: 150px;
  }
}

.form__input:focus,
.form__input:active {
  border-bottom: 1px solid #7ec9ec;
  outline: none;
}

.form__input::placeholder {
  color: #868e96;
  font-size: 1.3rem;
  font-weight: normal;
}

.form__button {
  background-color: #e7b688;
  align-self: center;
  padding: 8px 20px;
  border-radius: 3px;
  border: none;
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
  margin-left: 30px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
.form__button:hover {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #e7b688;
}
.form__button:active,
.form__button:focus {
  outline: none;
}
.form__button.more {
  margin: 10px auto;
  display: block;
}
